<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Sandbox</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ><a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a></li>
      <li routerLinkActive="active" *ngIf="auth.isLoggedIn()"><a class="nav-link" routerLink="/profile">Profile</a></li>
      <li routerLinkActive="active" *ngIf="isAdmin"><a class="nav-link" routerLink="/admin">Users</a></li>
    </ul>
    <button *ngIf="!auth.isLoggedIn()" class="btn btn-primary" type="button" routerLink="/login">Login</button>
    <button *ngIf="auth.isLoggedIn()" class="btn btn-primary" type="button" (click)="logout()">Logout</button>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
